/* ログインコンテナ */
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* 垂直方向に中央揃え */
  align-items: center;     /* 水平方向に中央揃え */
  height: 50vh;           /* 画面全体を占める高さ */
  text-align: center;
  padding-top: 50px;
}


/* ローディング中の表示 */
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 1.5em;
  font-weight: bold;
  color: #007bff;
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

/* ローディングアニメーション */
.loading::after {
  content: " .";
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
  0%, 20% {
    content: " .";
  }
  40% {
    content: " ..";
  }
  60% {
    content: " ...";
  }
  100% {
    content: "";
  }
}



/* ログインボタン */
.google-login-button {
  padding: 10px 20px;
  font-size: 1em;
  font-weight: bold;
  color: #fff;
  background-color: #4285f4;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.google-login-button:hover {
  background-color: #357ae8;
}

.login-container {
  text-align: center;
  padding-top: 50px;
}

.login-logo {
  width: 192px; /* 必要に応じて変更 */
  height: auto;
  margin-bottom: 60px; /* ロゴとボタンの間のスペース */
}